.playBox{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.75)
}

.playBox-icons :hover {
    color: white;
}

.playBox-central-icons {
    color: white;
    cursor: pointer;

}
.playBox-icons{
    cursor: pointer;
}

.playBox-center{
    display: flex;
    align-items: center;
}